[package]
name = "arroy"
description = "Annoy-inspired Approximate Nearest Neighbors in Rust, based on LMDB and optimized for memory usage"
version = "0.4.0"
documentation = "https://docs.rs/arroy"
repository = "https://github.com/meilisearch/arroy"
keywords = ["ANN-search", "Graph-algorithms", "Vector-Search", "Store"]
categories = ["algorithms", "database", "data-structures", "science"]
authors = ["Kerollmops <clement@meilisearch.com>", "Tamo <tamo@meilisearch.com>"]
license = "MIT"
edition = "2021"

[dependencies]
bytemuck = { version = "1.14.0", features = ["derive", "extern_crate_alloc"] }
byteorder = "1.5.0"
heed = { version = "0.20.1", default-features = false }
log = "0.4.20"
memmap2 = "0.9.0"
ordered-float = "4.1.1"
rand = { version = "0.8.5", features = ["alloc"] }
rayon = "1.8.0"
roaring = "0.10.2"
tempfile = "3.8.1"
thiserror = "1.0.50"

[dev-dependencies]
anyhow = "1.0.75"
arbitrary = { version = "1.3.2", features = ["derive"] }
clap = { version = "4.4.10", features = ["derive"] }
env_logger = "0.10.1"
insta = "1.34.0"
instant-distance = "0.6.1"
rand = { version = "0.8.5", features = ["std_rng"] }
tempfile = "3.8.1"

[features]
default = []

# Enabling this feature provide a method on the reader that can plot its root node in the dot format.
plot = []

# Enabling this feature provide a method on the reader that assert its own validity.
assert-reader-validity = []

[[example]]
name = "graph"
required-features = ["plot"]

[[example]]
name = "fuzz"
required-features = ["assert-reader-validity"]
